* {
    border-style: border-box;
    padding: 0;
    margin: 0;
    background-color: #ebe8d5;
}

.grid {
    display: grid;
    grid-template-columns: repeat(3, 250px);
    grid-template-rows: repeat(3, 250px);
    gap: 0px 0px;
    grid-auto-flow: row;
    border: 2px solid black;
    box-shadow: 3px 5px 5px grey;

  }
  
.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.cell {
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 200px;
    border: 2px solid black;
    

}

.playerDetails{
    height: 150px;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 30px;
}

h3, p{
    font-size: 30px;
    color: black;
}